In [15]:
import pandas as pd
import math
import numpy as np
import torch
from sklearn.model_selection import train_test_split

In [16]:
df = pd.read_excel("./data.xlsx")
df.columns

Index(['id', 'pair', 'coin', 'coin_address', 'buying_price', 'selling_price',
       'buying_coin_age', 'selling_coin_age', 'buying_transactions_buys_m5',
       'buying_transactions_sells_m5', 'buying_transactions_buys_h1',
       'buying_transactions_sells_h1', 'buying_total_transfers',
       'buying_total_transactions', 'selling_transactions_buys_m5',
       'selling_transactions_sells_m5', 'selling_transactions_buys_h1',
       'selling_transactions_sells_h1', 'buying_volume_m5',
       'selling_volume_m5', 'buying_volume_h1', 'selling_volume_h1',
       'buying_price_change_m5', 'buying_price_change_h1',
       'selling_price_change_m5', 'selling_price_change_h1',
       'buying_liquidity', 'selling_liquidity', 'buying_fdv', 'selling_fdv',
       'buying_market_cap', 'selling_market_cap', 'is_telegram', 'is_twitter',
       'is_website', 'opening_date', 'closing_date', 'PNL', 'status', 'type'],
      dtype='object')

In [17]:
drop_columns = [
    "id",
    "pair",
    "token",
    "token_address", 
    "selling_price", 
    "selling_token_age", 
    "buying_transactions_buys_h1", 
    "buying_transactions_sells_h1", 
    "selling_transactions_buys_m5", 
    "selling_transactions_sells_m5", 
    "selling_transactions_buys_h1", 
    "selling_transactions_sells_h1", 
    "selling_volume_m5", 
    "buying_volume_h1", 
    "selling_volume_h1", 
    "buying_price_change_h1",
    "selling_price_change_m5", 
    "selling_price_change_h1", 
    "selling_liquidity", 
    "selling_fdv", 
    "selling_market_cap", 
    "opening_date", 
    "closing_date", 
    "status", 
    "type"]
df = df.drop(drop_columns, axis = 1)
df.head()

,buying_price,buying_coin_age,buying_transactions_buys_m5,buying_transactions_sells_m5,buying_total_transfers,buying_total_transactions,buying_volume_m5,buying_price_change_m5,buying_liquidity,buying_fdv,buying_market_cap,is_telegram,is_twitter,is_website,PNL
0,"0,1499","2,2842054333333333",124,31,259.0,248,83905,211212,"95558,95","149901896,0","149901896,0",0,0,0,NaN
1,"0,0006543","2,586920966666667",46,7,176.0,92,294197,3977875,"584837,79","5816780456,0","5816780456,0",0,0,0,NaN
2,"0,0006659","3,8775534833333336",71,8,1.0,142,295644,4027279,"590368,25","5919230173,0","5919230173,0",0,0,0,"-97,67"
3,"0,00006535","1,3659095833333335",22,9,607.0,44,2334,12,"25158,71","65356,0","65356,0",0,0,0,"-32,09"
4,"0,003608","3,3994868166666667",51,12,301.0,102,12183,8479,"18722,23","3608663,0","3608663,0",0,0,0,"62,31"

In [18]:
renamed_columns = {
    "buying_price": "price", 
    "buying_token_age": "token_age", 
    "buying_transactions_buys_m5": "buys_m5",
    "buying_transactions_sells_m5": "sells_m5", 
    "buying_total_transfers": "total_transfers",
    "buying_total_transactions": "total_transactions", 
    "buying_volume_m5": "volume_m5",
    "buying_price_change_m5": "price_change_m5",
    "buying_liquidity": "liquidity", 
    "buying_fdv": "fdv",
    "buying_market_cap": "market_cap"
}
df.rename(columns=renamed_columns, inplace=True) 
df

,price,coin_age,buys_m5,sells_m5,total_transfers,total_transactions,volume_m5,price_change_m5,liquidity,fdv,market_cap,is_telegram,is_twitter,is_website,PNL
0,"0,1499","2,2842054333333333",124,31,259.0,248,83905,211212,"95558,95","149901896,0","149901896,0",0,0,0,NaN
1,"0,0006543","2,586920966666667",46,7,176.0,92,294197,3977875,"584837,79","5816780456,0","5816780456,0",0,0,0,NaN
2,"0,0006659","3,8775534833333336",71,8,1.0,142,295644,4027279,"590368,25","5919230173,0","5919230173,0",0,0,0,"-97,67"
3,"0,00006535","1,3659095833333335",22,9,607.0,44,2334,12,"25158,71","65356,0","65356,0",0,0,0,"-32,09"
4,"0,003608","3,3994868166666667",51,12,301.0,102,12183,8479,"18722,23","3608663,0","3608663,0",0,0,0,"62,31"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,"0,0000822","1,1618589166666666",33,9,3365.0,66,14014,37,"28354,47","82201,0","82201,0",1,0,0,"78,47"
358,"0,00001556","2,8510967166666665",108,42,143.0,216,24690,1918,"6758,15","15567,0","15567,0",0,1,0,"74,04"
359,"0,0001193","2,0249139166666668",127,56,4914.0,254,29917,96,"34395,14","119318,0","119318,0",0,0,0,"64,71"
360,"0,00005807","2,0921795333333333",76,51,787.0,152,13556,-4,"24014,45","58072,0","58072,0",1,1,0,"63,70"
361,"0,0001032","28,06355155",114,119,2603.0,1354,19354,16,"32452,34","103229,0","103229,0",1,1,1,"63,18"

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   price               362 non-null    object
 1   coin_age            362 non-null    object
 2   buys_m5             362 non-null    int64
 3   sells_m5            362 non-null    int64
 4   total_transfers     358 non-null    float64
 5   total_transactions  362 non-null    int64
 6   volume_m5           362 non-null    int64
 7   price_change_m5     362 non-null    int64
 8   liquidity           362 non-null    object
 9   fdv                 362 non-null    object
 10  market_cap          362 non-null    object
 11  is_telegram         362 non-null    int64
 12  is_twitter          362 non-null    int64
 13  is_website          362 non-null    int64
 14  PNL                 360 non-null    object
dtypes: float64(1), int64(8), object(6)
memory usage: 42.6+ KB

In [20]:
df = df.dropna(subset=['total_transfers', 'PNL'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 356 entries, 2 to 361
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   price               356 non-null    object
 1   coin_age            356 non-null    object
 2   buys_m5             356 non-null    int64
 3   sells_m5            356 non-null    int64
 4   total_transfers     356 non-null    float64
 5   total_transactions  356 non-null    int64
 6   volume_m5           356 non-null    int64
 7   price_change_m5     356 non-null    int64
 8   liquidity           356 non-null    object
 9   fdv                 356 non-null    object
 10  market_cap          356 non-null    object
 11  is_telegram         356 non-null    int64
 12  is_twitter          356 non-null    int64
 13  is_website          356 non-null    int64
 14  PNL                 356 non-null    object
dtypes: float64(1), int64(8), object(6)
memory usage: 44.5+ KB

In [22]:
df["price"] = df["price"].replace(",",".", regex=True).astype(float)
df["token_age"] = df["token_age"].replace(",",".", regex=True).astype(float)
df["liquidity"] = df["liquidity"].replace(",",".", regex=True).astype(float)
df["fdv"] = df["fdv"].replace(",",".", regex=True).astype(float)
df["market_cap"] = df["market_cap"].replace(",",".", regex=True).astype(float)
df["PNL"] = df["PNL"].replace(",",".", regex=True).astype(float)

/tmp/ipykernel_452609/528399640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"] = df["price"].replace(",",".", regex=True).astype(float)
/tmp/ipykernel_452609/528399640.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["coin_age"] = df["coin_age"].replace(",",".", regex=True).astype(float)
/tmp/ipykernel_452609/528399640.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["liquidity"] = df["liquidity"].replace(",",".", regex=True).astype(float)
/tmp/ipykernel_452609/528399640.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["fdv"] = df["fdv"].replace(",",".", regex=True).astype(float)
/tmp/ipykernel_452609/528399640.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["market_cap"] = df["market_cap"].replace(",",".", regex=True).astype(float)
/tmp/ipykernel_452609/528399640.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PNL"] = df["PNL"].replace(",",".", regex=True).astype(float)

In [23]:
df.loc[df["PNL"] >= 60, "profit"] = 1
df.loc[df["PNL"] < 60, "profit"] = 0
df = df.drop(["PNL"], axis = 1)
df["profit"] = df["profit"].astype(int)

/tmp/ipykernel_452609/1008021683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df["PNL"] >= 60, "profit"] = 1

In [24]:
df = df[(df["token_age"] < 6) & (df["liquidity"] >= 1000)]

In [25]:
df.head()

,price,coin_age,buys_m5,sells_m5,total_transfers,total_transactions,volume_m5,price_change_m5,liquidity,fdv,market_cap,is_telegram,is_twitter,is_website,profit
2,0.000666,3.877553,71,8,1.0,142,295644,4027279,590368.25,5.919230e+09,5.919230e+09,0,0,0,0
3,0.000065,1.365910,22,9,607.0,44,2334,12,25158.71,6.535600e+04,6.535600e+04,0,0,0,0
4,0.003608,3.399487,51,12,301.0,102,12183,8479,18722.23,3.608663e+06,3.608663e+06,0,0,0,1
5,0.392300,3.028979,191,35,448.0,382,109828,545781,155636.34,3.923313e+08,3.923313e+08,0,0,0,0
6,0.041350,1.979397,50,20,2.0,100,32495,57442,50437.82,4.135027e+07,4.135027e+07,0,0,0,0

In [26]:
df.describe()

,price,coin_age,buys_m5,sells_m5,total_transfers,total_transactions,volume_m5,price_change_m5,liquidity,fdv,market_cap,is_telegram,is_twitter,is_website,profit
count,3.490000e+02,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,3.490000e+02,349.000000,3.490000e+02,3.490000e+02,349.000000,349.000000,349.000000,349.000000
mean,6.425184e-02,2.539831,114.326648,42.237822,4975.595989,230.045845,57280.951289,1.829360e+05,68218.378911,1.936170e+08,1.936170e+08,0.097421,0.097421,0.083095,0.435530
std,9.808716e-02,0.986027,88.161339,58.127467,50132.917914,179.484825,65491.703126,5.318303e+05,89690.652940,7.175265e+08,7.175265e+08,0.296956,0.296956,0.276421,0.496538
min,5.676000e-08,0.810816,0.000000,0.000000,0.000000,0.000000,3.000000,-8.900000e+01,1087.600000,2.565000e+03,2.565000e+03,0.000000,0.000000,0.000000,0.000000
25%,7.654000e-05,1.796398,56.000000,12.000000,2.000000,112.000000,16797.000000,6.000000e+01,25636.030000,6.992000e+04,6.992000e+04,0.000000,0.000000,0.000000,0.000000
50%,2.131000e-02,2.570056,97.000000,27.000000,212.000000,194.000000,31790.000000,3.543200e+04,43273.530000,2.195341e+07,2.195341e+07,0.000000,0.000000,0.000000,0.000000
75%,8.856000e-02,3.203960,155.000000,53.000000,422.000000,310.000000,77024.000000,1.435270e+05,83235.210000,1.017937e+08,1.017937e+08,0.000000,0.000000,0.000000,1.000000
max,4.358000e-01,5.315377,688.000000,471.000000,818285.000000,1376.000000,351245.000000,4.107972e+06,596931.370000,6.043169e+09,6.043169e+09,1.000000,1.000000,1.000000,1.000000

In [27]:
x = df.drop(columns=["profit"])
y = df["profit"].copy()

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [28]:
x_train = torch.tensor(x_train.values).to(torch.float32)
x_test = torch.tensor(x_test.values).to(torch.float32)
y_train = torch.tensor(y_train.values).to(torch.float32).unsqueeze(1)
y_test = torch.tensor(y_test.values).to(torch.float32).unsqueeze(1)

In [29]:
class LogisticRegression(torch.nn.Module):

    def __init__(self, n_features):
        super(LogisticRegression, self).__init__()
        self.lr = torch.nn.Linear(n_features, 1)
        
    def forward(self, x):
        out = torch.sigmoid(self.lr(x))
        return out

In [30]:
n_features = x_train.shape[1]
model = LogisticRegression(n_features)

optim = torch.optim.SGD(model.parameters(), lr=1)
criterion = torch.nn.BCELoss()

In [31]:
EPOCHS = 3

def train(model, optim, criterion, x, y, epochs=EPOCHS):
    for e in range(1, epochs + 1):
        optim.zero_grad()
        out = model(x)
        loss = criterion(out, y)
        loss.backward()
        optim.step()
        print(f'Среднее значение функции потерь за эпоху {e}: {loss.data}')
    return model

In [32]:
model = train(model, optim, criterion, x_train, y_train)

Среднее значение функции потерь за эпоху 1: 44.44444274902344
Среднее значение функции потерь за эпоху 2: 44.44444274902344
Среднее значение функции потерь за эпоху 3: 44.44444274902344

In [33]:
def accuracy(model, x, y):
    out = model(x)
    correct = torch.abs(y - out) < 0.5
    return correct.float().mean()

plain_accuracy = accuracy(model, x_test, y_test)
print(f'Точность модели: {plain_accuracy}')

Точность модели: 0.5714285969734192

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

x = df.drop(columns=["profit"])
y = df["profit"].copy()

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Создание и обучение модели логистической регрессии
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

# Предсказание классов на тестовой выборке
y_pred = model.predict(X_test)

# Вычисление точности классификации
accuracy = accuracy_score(y_test, y_pred)
print("Точность классификации: {:.2f}%".format(accuracy * 100))

Точность классификации: 52.86%